body 
  background-color: #222
  padding: 0
  margin: 0
  height: 100em

a 
  color: #3399ff

h2 
  font-family: Futura
  font-size: 20pt

h3 
  font-style: italic
  font-family: Futura


.container 
  width: 70%
  min-height: 100%
  background-color: #f3f3f3
  margin: auto
  margin-top: -1em
  padding: 1%

.header
  width: 90%
  margin: auto
  height: auto



h1 
  font-family: Futura
  font-size: 25pt
  font-color: #222
  text-align: left


.post
  width: 50%
  margin: auto
  height: auto
  margin-top: 5em
  border-bottom: 1px #222 solid
  padding-bottom: 2%
  
  

  h1 
    font-family: Futura
    font-size: 20pt
    font-color: #222
    text-align: left

  p 
    font-family: Serif
    font-size: 15pt
    font-color: #222









  